{% extends 'base.html' %}

{% block content %}

        <h1>{{ all_plant_details.common_name }}</h1>
        <h2 class="latinName">{{ all_plant_details.genus }} {{ all_plant_details.species }}</h2>
        <section id="overview">
        <ul>
            <li>Zone: {{ all_plant_details.zone }}</li>
            <li>Feature color: {{ all_plant_details.featureColor }}</li>
            <li>Native region: {{ all_plant_details.nativeRegion }}</li>
            <li>Bloom time: <a href="/plants/bloom_time/{{ all_plant_details.bloom_time }}/"> {{ all_plant_details.bloom_time }}</a></li>
            <li>Sun needs: <a href="/plants/sun_needs/{{ all_plant_details.sun_needs|slugify }}/">{{ all_plant_details.sun_needs }}</a></li>
            <li>Plant type: <a href="/plants/plant_type/{{ all_plant_details.plantType }}/">{{ all_plant_details.plantType }}</a></li>
        </ul>
        </section>
        <section>
        <h3>Description</h3>
        <p>{{ all_plant_details.plantDescription|safe|linebreaks }}</p>
        </section>
        <section>
        
        <h3>Pictures of {{ all_plant_details.common_name }}</h3>
        
        </section>
 
{% endblock %}