{% extends 'base.html' %}

{% block content %}
{% if list_of_stuff %}
	<h2>{{ pageHeader }}</h2>
    <ul>
    {% for plant in list_of_stuff %}
        <li><a href="/plants/{{ plant.id }}/">{{ plant.common_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No plants are available at this time.</p>
{% endif %}
<!--
{% if other_stuff %}
    <h3>{{ other_stuff }}</h3>
    <ul>
    {% for plant in other_stuff %}
            <li><a href="/plants/{{ plant.id }}">{{ plant.common_name }}</a></li>
    {% endfor %}
    </ul>
-->
{% endif %}
{% endblock %}